In [1]:
import pandas as pd
import numpy as np
from queue import Queue

In [2]:
temp=pd.read_csv("project2.csv")
df1=pd.DataFrame(temp)
dfn=df1.T
df2=dfn.convert_dtypes()
df=df2.copy()
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902
SYMBOL,20MICRONS,21STCENMGM,3IINFOTECH,3MINDIA,5PAISA,63MOONS,716GS2050,719GS2060,8KMILES,A2ZINFRA,...,WALCHANNAG,WANBURY,WATERBASE,WEBELSOLAR,WEIZMANIND,WELCORP,WELENT,WELINV,WELSPUNIND,WENDT
27-Nov-20,32.1,9.7,3.4,21866.9,8.15,325.8,94.95,103,117,111.3,...,16.25,326.8,1.25,31.9,141.2,193.8,417.7,3.5,25.1,548.55
30-Oct-20,28.4,9.85,3,18675.3,6.8,320.75,67.4,77.5,110.2,115.28,...,13.3,362.6,5.9,208.4,153,116.85,0.3,17.5,53,1931.75
30-Sep-20,28.25,9.9,3.3,18307.2,347.1,68.35,110,112.95,57.2,4.05,...,49.35,33.6,100.05,19.4,29.9,113.7,65.7,259.65,67,3278.65
31-Aug-20,30.95,10.45,3.7,20264.5,359.15,80.85,112,110,107.5,110.23,...,200.55,505.95,2.8,28,10.02,9.01,281.23,1217.41,418.8,330.02

In [3]:
#function to calculate returns 
for j in range(len(df)):
    for i in range(1,len(df)-1):
            b=df.iloc[i][j]-df.iloc[i+1][j]
            df.iloc[i, df.columns.get_loc(df.columns[j])]=b

In [4]:
df.columns = df.iloc[0]
df.drop(df.index[0],inplace=True)
df.dropna(inplace=True)
df.head(5)

SYMBOL,20MICRONS,21STCENMGM,3IINFOTECH,3MINDIA,5PAISA,63MOONS,716GS2050,719GS2060,8KMILES,A2ZINFRA,...,WALCHANNAG,WANBURY,WATERBASE,WEBELSOLAR,WEIZMANIND,WELCORP,WELENT,WELINV,WELSPUNIND,WENDT
27-Nov-20,3.7,-0.15,0.4,3191.55,1.35,5.05,27.55,25.5,6.8,-3.98,...,16.25,326.8,1.25,31.9,141.2,193.8,417.7,3.5,25.1,548.55
30-Oct-20,0.15,-0.05,-0.3,368.2,-340.3,252.4,-42.6,-35.45,53,111.23,...,13.3,362.6,5.9,208.4,153,116.85,0.3,17.5,53,1931.75
30-Sep-20,-2.7,-0.55,-0.4,-1957.3,-12.05,-12.5,-2,2.95,-50.3,-106.18,...,49.35,33.6,100.05,19.4,29.9,113.7,65.7,259.65,67,3278.65
31-Aug-20,2.35,0.05,1.3,-813.55,15,10.8,1,-6,103.5,66.88,...,200.55,505.95,2.8,28,10.02,9.01,281.23,1217.41,418.8,330.02
31-Jul-20,-3.8,-0.5,-0.3,2282.75,337.7,-152.85,35.35,9.57,-1.5,23.5,...,11.95,138.75,3.45,13.5,5.3,35.6,159.95,58.8,1.6,114.7

In [5]:
for j in range(1,len(df.columns)):
    df[j]=df.iloc[:,j].rolling(window=9).mean()
df.dropna(axis='columns',inplace=True)
df.head(5)

SYMBOL,20MICRONS,21STCENMGM,3IINFOTECH,3MINDIA,5PAISA,63MOONS,716GS2050,719GS2060,8KMILES,A2ZINFRA,...,WALCHANNAG,WANBURY,WATERBASE,WEBELSOLAR,WEIZMANIND,WELCORP,WELENT,WELINV,WELSPUNIND,WENDT
27-Nov-20,3.7,-0.15,0.4,3191.55,1.35,5.05,27.55,25.5,6.8,-3.98,...,16.25,326.8,1.25,31.9,141.2,193.8,417.7,3.5,25.1,548.55
30-Oct-20,0.15,-0.05,-0.3,368.2,-340.3,252.4,-42.6,-35.45,53,111.23,...,13.3,362.6,5.9,208.4,153,116.85,0.3,17.5,53,1931.75
30-Sep-20,-2.7,-0.55,-0.4,-1957.3,-12.05,-12.5,-2,2.95,-50.3,-106.18,...,49.35,33.6,100.05,19.4,29.9,113.7,65.7,259.65,67,3278.65
31-Aug-20,2.35,0.05,1.3,-813.55,15,10.8,1,-6,103.5,66.88,...,200.55,505.95,2.8,28,10.02,9.01,281.23,1217.41,418.8,330.02
31-Jul-20,-3.8,-0.5,-0.3,2282.75,337.7,-152.85,35.35,9.57,-1.5,23.5,...,11.95,138.75,3.45,13.5,5.3,35.6,159.95,58.8,1.6,114.7

In [6]:
df.index = pd.to_datetime(df.index)
df.sort_index(axis=0, ascending=True, inplace=True)
df.drop(df.index[0],inplace=True)
df

SYMBOL,20MICRONS,21STCENMGM,3IINFOTECH,3MINDIA,5PAISA,63MOONS,716GS2050,719GS2060,8KMILES,A2ZINFRA,...,WALCHANNAG,WANBURY,WATERBASE,WEBELSOLAR,WEIZMANIND,WELCORP,WELENT,WELINV,WELSPUNIND,WENDT
2020-02-28,-3.7,-2,-0.3,-2406,-2.4,-28.4,-14.35,-4.4,-6.95,79.6,...,939.75,776.35,58.65,6.6,409.85,18.45,214.4,3.7,0.1,215
2020-03-31,-5.65,-1.5,-0.65,-1747.3,-1,-45.75,-42.65,1.9,-8.05,-83.85,...,39.75,142.1,21.6,1781.55,323,336.05,1818.9,9.85,9.35,43
2020-04-30,3.5,0.2,0.3,572.25,3.6,44.65,50.91,-3.5,-25.1,105.85,...,312.4,421.5,2059.25,14.5,12.4,48.05,190.95,255.75,129,36
2020-05-29,-2.9,-0.3,0,-1101.05,149.55,-55.43,-42.16,13.8,50.1,5.03,...,86.85,37.05,1.35,12,104.8,22.05,138.25,82.3,37.9,1252.95
2020-06-30,6.25,0.2,1.1,496.1,-150.25,120.53,20.85,-2.37,-103.5,-94.18,...,79.75,63.4,215,37.1,2674.1,307.85,64,453.75,2074.8,18.1
2020-07-31,-3.8,-0.5,-0.3,2282.75,337.7,-152.85,35.35,9.57,-1.5,23.5,...,11.95,138.75,3.45,13.5,5.3,35.6,159.95,58.8,1.6,114.7
2020-08-31,2.35,0.05,1.3,-813.55,15,10.8,1,-6,103.5,66.88,...,200.55,505.95,2.8,28,10.02,9.01,281.23,1217.41,418.8,330.02
2020-09-30,-2.7,-0.55,-0.4,-1957.3,-12.05,-12.5,-2,2.95,-50.3,-106.18,...,49.35,33.6,100.05,19.4,29.9,113.7,65.7,259.65,67,3278.65
2020-10-30,0.15,-0.05,-0.3,368.2,-340.3,252.4,-42.6,-35.45,53,111.23,...,13.3,362.6,5.9,208.4,153,116.85,0.3,17.5,53,1931.75
2020-11-27,3.7,-0.15,0.4,3191.55,1.35,5.05,27.55,25.5,6.8,-3.98,...,16.25,326.8,1.25,31.9,141.2,193.8,417.7,3.5,25.1,548.55

In [7]:
#function for sorting of list
            
def Sort(sub_li): 
    l = len(sub_li) 
    for i in range(0, l): 
        for j in range(0, l-i-1): 
            if (sub_li[j][1] > sub_li[j + 1][1]): 
                tempo = sub_li[j]  
                sub_li[j]= sub_li[j + 1] 
                sub_li[j + 1]= tempo 
    return sub_li

In [8]:
top20=[]
final=[]
lis=[]
flag=0
weight=[]
for row in df.index: 
    list1=[]
    top10=[]
    finale=[]
    vol=[]
    weight_temp=[]
    df.sort_values(by=[row],axis=1,ascending=False,inplace=True)
   
    for i in range(0,10):
        if flag==0:
            lis.append(df.columns[i])
            continue
        found=0
        #loop for ensuring that only those stocks comes in list1 which weren't there in lis
        for j in range(0,len(lis)):
            if lis[j]==df.columns[i]:
                found=1
        if found==0:    
            list1.append(df.columns[i])
    
    if flag==0:
        final.append(lis)
        for i in range(0,20):
            top20.append(df.columns[i])
    
    else: 
        pos=-2
        for i in range(0,len(lis)):
            mark=0
            for k in range(0,len(df.columns)):
                if df.columns[k]==lis[i]:
                    pos=k
                    break
            if i<=4:
                top10.append([lis[i],pos])
            else:
                for j in range(0,20):
                    if top20[j]==lis[i]:
                        top10.append([lis[i],pos])
                        mark=1
                        break
                        
                if mark==0:
                    for k in range(0,len(df.columns)):
                        if df.columns[k]==list1[0]:
                            pos=k
                            break
                    top10.append([list1[0],pos])
                    list1.pop(0)
       
        top10=Sort(top10)
        
        for i in range(0,10):
            finale.append(top10[i][0])
            
        for i in range(0,20):
            top20.pop(0)
            top20.append(df.columns[i])
        
        
        final.append(finale)
        
        #emptyig the lis and filling it up with the 10 new stocks
        while len(lis)!=0:
            lis.pop(0)
        
        for i in range(0,10):
            lis.append(finale[i])
        
        
        #now calculating volatility and giving them weightage

        for i in range(0,10):
            
            a=(np.std(df[finale[i]])).astype(int)
     
            vol.append([i,a])
            
        vol1=Sort(vol)
        
        for i in range(0,10):
            weight_temp.append([finale[vol1[i][0]],(10-i)*1.8181])
        weight.append(row)
        weight.append(weight_temp)
            
            
    flag=1  #displaying stock with their weightage
weight

In [10]:
#displaying stock with their weightage
weight

[Timestamp('2020-03-31 00:00:00'),
 [['TCIDEVELOP', 18.181],
  ['SCI', 16.3629],
  ['BOROLTD', 14.5448],
  ['NETFNIF100', 12.726700000000001],
  ['EDELWEISS', 10.9086],
  ['ABB', 9.0905],
  ['PARSVNATH', 7.2724],
  ['SHREDIGCEM', 5.4543],
  ['HISARMETAL', 3.6362],
  ['MUKANDENGG', 1.8181]],
 Timestamp('2020-04-30 00:00:00'),
 [['TCIDEVELOP', 18.181],
  ['NETFNIF100', 16.3629],
  ['EDELWEISS', 14.5448],
  ['NCLIND', 12.726700000000001],
  ['ORIENTLTD', 10.9086],
  ['SHAKTIPUMP', 9.0905],
  ['ABB', 7.2724],
  ['HINDNATGLS', 5.4543],
  ['HISARMETAL', 3.6362],
  ['MOIL', 1.8181]],
 Timestamp('2020-05-29 00:00:00'),
 [['NCLIND', 18.181],
  ['ORIENTLTD', 16.3629],
  ['ORIENTELEC', 14.5448],
  ['SHAKTIPUMP', 12.726700000000001],
  ['SGBSEP27', 10.9086],
  ['NCC', 9.0905],
  ['HFCL', 7.2724],
  ['HINDNATGLS', 5.4543],
  ['MOIL', 3.6362],
  ['MOLDTECH', 1.8181]],
 Timestamp('2020-06-30 00:00:00'),
 [['NDL', 18.181],
  ['ORIENTELEC', 16.3629],
  ['ORISSAMINE', 14.5448],
  ['SGBSEP27', 12.726700000000001],
  ['NCC', 10.9086],
  ['SHARDAMOTR', 9.0905],
  ['HFCL', 7.2724],
  ['HINDOILEXP', 5.4543],
  ['MONTECARLO', 3.6362],
  ['MOLDTECH', 1.8181]],
 Timestamp('2020-07-31 00:00:00'),
 [['NDL', 18.181],
  ['ORISSAMINE', 16.3629],
  ['OPTOCIRCUI', 14.5448],
  ['ECLFINANCE', 12.726700000000001],
  ['SGBSEP28VI', 10.9086],
  ['SHARDAMOTR', 9.0905],
  ['HIRECT', 7.2724],
  ['HINDOILEXP', 5.4543],
  ['MITTAL', 3.6362],
  ['MONTECARLO', 1.8181]],
 Timestamp('2020-08-31 00:00:00'),
 [['NITINSPIN', 18.181],
  ['PILANIINVS', 16.3629],
  ['OPTOCIRCUI', 14.5448],
  ['SOUTHBANK', 12.726700000000001],
  ['ECLFINANCE', 10.9086],
  ['SGBSEP28VI', 9.0905],
  ['ABFRLPP', 7.2724],
  ['HIRECT', 5.4543],
  ['NBIFIN', 3.6362],
  ['MITTAL', 1.8181]],
 Timestamp('2020-09-30 00:00:00'),
 [['NITINSPIN', 18.181],
  ['ABBOTINDIA', 16.3629],
  ['PILANIINVS', 14.5448],
  ['SHREECEM', 12.726700000000001],
  ['SOUTHBANK', 10.9086],
  ['PAGEIND', 9.0905],
  ['ABFRLPP', 7.2724],
  ['HONAUT', 5.4543],
  ['NBIFIN', 3.6362],
  ['MRF', 1.8181]],
 Timestamp('2020-10-30 00:00:00'),
 [['ABBOTINDIA', 18.181],
  ['NDRAUTO', 16.3629],
  ['SHREECEM', 14.5448],
  ['OSWALAGRO', 12.726700000000001],
  ['PAGEIND', 10.9086],
  ['SHYAMCENT', 9.0905],
  ['HOTELRUGBY', 7.2724],
  ['HONAUT', 5.4543],
  ['MRF', 3.6362],
  ['MOLDTECH', 1.8181]],
 Timestamp('2020-11-27 00:00:00'),
 [['NDRAUTO', 18.181],
  ['OLECTRA', 16.3629],
  ['NIITLTD', 14.5448],
  ['OSWALAGRO', 12.726700000000001],
  ['SHYAMCENT', 10.9086],
  ['PHOENIXLTD', 9.0905],
  ['SPICEJET', 7.2724],
  ['HOTELRUGBY', 5.4543],
  ['NATIONALUM', 3.6362],
  ['MOLDTECH', 1.8181]]]